<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EscapeJS a platform for learning JavaScript">
    <meta name="author" content="Alfredo Silva and Nuno Mendonça">
    <title>About</title>
    <link rel="stylesheet" href="../public/styles/about.css">
    <link rel="stylesheet" href="../public/styles/style.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
</head>
<body>
    <header>
        <nav>
            <a href="../index.html"><img src="../public/images/logo.svg" width="250px" height="100px"></a>
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./catalog.html">Rooms</a></li>
                <li><a href="./ranking.html">Ranking</a></li>
                <li><a href="./about.html" style="color:black">About</a></li>
                <li><a href="./register.html">Sign In</a></li>
                <li><a href="./profile.html" id="profile">Profile</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Welcome to EscapeJS!</h1>
        <p>Prepare to embark on an exciting adventure filled with puzzles, challenges, and a race against time. As you step into the room, you find yourself surrounded by the fascinating world of JavaScript.</p>
        <p>Your mission is to find hidden objects scattered throughout multiple rooms and solve JavaScript-related puzzles to unlock the next level. Each room presents several challenges, testing your knowledge and problem-solving skills.</p>
        <p>In the first room, you find your boss's office . To pass to next room, you must answer some questions with several types. If you make 100 points, you progress to the next room, where the difficulty intensifies.</p>
        <p>The second room immerses you in your office . Here, you must analyze and pay very attention to details</p>
        <p>In the third room, you find a full developer setup to make you feel like a real one. When you find some object,you are need to complete small projects with functions,arrays and loops,i wish you good luck!</p>
        <p>As you advance, the rooms become more challenging, requiring deeper understanding of JavaScript concepts. You'll encounter puzzles involving recursion, closures, and advanced algorithms. It's a true test of your coding prowess and ability to think critically under pressure.</p>
        <p>Remember, time is of the essence. The clock is ticking, and you must escape before it runs out. Work together with your skills and leverage your JavaScript knowledge to overcome each obstacle. Only by combining your skills can you conquer the job.</p>
        <p>Are you ready to embark on this thrilling journey? Put your JavaScript skills to the test and see if you have what it takes to escape!</p>
    </div>

    <footer>
        <div class="footer-nav">
            <img class="logo-img" src="../public/images/logo branco.svg">
            <ul class="social">
                <li><a href="#"><img src="../public/images/facebook.svg" width="50px" height="50px"></a></li>
                <li><a href="#"><img src="../public/images/linkedin.svg" width="50px" height="50px"></a></li>
                <li><a href="#"><img src="../public/images/twitter.svg" width="50px" height="50px"></a></li>
                <li><a href="#"><img src="../public/images/instagram.svg" width="50px" height="50px"></a></li>
            </ul>
        </div class="footer-nav">
    </footer>
    <script type="module" src="../public/js/navbar.js"></script>
</body>
</html>